.content {
    background-color: #242424;
}

// pic with description
.content-mainpic__img, .content-mainpic__img-mobile {
    width: 100%;
    background-size: cover;
}

.content-description {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: #000;
    text-align: center;
    .content-description__title {
        color: #1299ce;
        text-transform: uppercase;
        font-size: em(28);
        letter-spacing: -0.01em;
        padding: 2% 20%;
    }
    .content-description__text {
        color: #fff;
        font-size: em(24);
        padding: 0 16% 3% 16%;
    }
}

// video slider
.content-slider-topic, .content-slider__img {padding: 0 4.4% 0 4.9%;}

.content-slider-topic__title {
    text-transform: uppercase;
    font-size: em(28);
    letter-spacing: -0.01em;
    padding: 2.8% 0 1.7% 0;
    color: #0f9acc;
}

.content-slider-topic__text {
    color: #fff;
    font-size: em(17);
    padding-bottom: .6%;
}

.content-slider__img {
    // display: none;
    width: 100%;
}

.content-slider-inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 2.5%;
}

.content-slider-inner::before {
    border-style: solid;
	border-width: 0.15em 0.15em 0 0;
	content: '';
	display: inline-block;
    height: 1.4em;
    width: 1.4em;
	left: 1em;
	transform: rotate(-135deg);
	position: relative;
	top: 7.35em;
	vertical-align: top;
    color: #109bcf;
}

.content-slider-inner::after {
    border-style: solid;
	border-width: 0.15em 0.15em 0 0;
	content: '';
	display: inline-block;
    height: 1.4em;
    width: 1.4em;
    left: -1em;
	transform: rotate(45deg);
	position: relative;
	top: 7.35em;
	vertical-align: top;
    color: #109bcf;
}

.content-slider-inner__item {
    width: 29%;
    cursor: pointer;
    p {
        @extend .content-slider-topic__text;
        padding: 8.8% 0 4.4% 0;
    }
    img {
        width: 100%;
    }
    &:hover, &:active {
        border-bottom: 2px solid #010101;
    }
}

// ritual-description
.ritual-description {padding: 0 4.4% 0 4.9%;}

.ritual-description__title {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    @extend .content-slider-topic__title;
    padding-bottom: 1.5%;
    font-size: em(19);
}

.ritual-instagram__link {
    display: inline-flex;
    font-size: em(13);
    color: #fff;
    text-transform: none;
    span {
        white-space: nowrap; 
        padding-top: 3%;
        align-self: center;
    } 
    img {padding-left: 3%;}
}

.ritual-description__text {
    color: #fff;
    font-weight: bold;
    font-size: em(21);
    padding-right: 5%;
    padding-bottom: 1.8%;
}

.ritual-description__learn-more {
    letter-spacing: 0.03em;
    color: #fff;
    font-size: em(22);
    text-transform: uppercase;
    a {color: #1398ce;}
}

.ritual-description__learn-more a::after {
    border-style: solid;
	border-width: 0.1em 0.1em 0 0;
	content: '';
	display: inline-block;
    height: .72em;
    width: .72em;
    left: 0;
	transform: rotate(45deg);
	position: relative;
	top: 0.3em;
	vertical-align: top;
    color: #fff;
}

.terms-and-conditions {
    color: #fff;
    padding: 3% 0 8% 0;
    font-size: em(18);
    a {
        color: #fff;
        padding-left: 4%;
    }
}

.terms-and-conditions a::before {
    border-style: solid;
	border-width: 0.1em 0.1em 0 0;
	content: '';
	display: inline-block;
    height: .9em;
    width: .9em;
    left: -1.3em;
	transform: rotate(135deg);
	position: relative;
	top: 0;
	vertical-align: top;
    color: #fff;
}

// ritual-stat
.ritual-stat {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #0f9ace;
    color: #fff;
    padding-left: 2%;
    margin: 0 4.4% 0 4.9%;
}

.ritual-stat__text {
    p {
        padding: 2.5% 0.1% 2.5% 0;
        letter-spacing: -0.06em;
        font-size: em(35);
        span {
            padding-left: 8%;
        }
    }
}

.ritual-stat-numbers {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-left: 18%;
}

.ritual-stat-numbers__item {
    font-weight: bold;
    border-left: 1px solid #fff;
    line-height: 1.1;
    span {
        font-weight: lighter;
        font-size: em(12);
        display: block;
    }
    a {
        display: block;
        height: 35px;
        width: 35px;
        background: url("../img/inst-icon-bg.png") no-repeat;
    }
    &:nth-child(1) {
        padding: 0 5%;
    }
    &:nth-child(2) {
        padding: 0 5%;
    }
    &:nth-child(3) {
        padding: 0 8% 0 5%;
    }
    &:last-child {
        border: none;
    }
}

// ritual-grid
.ritual-grid {
    display: flex;
    flex-flow: row wrap;
    padding: 2.5% 0.5% 6% 5%;
}

.ritual-grid-item {
    margin-bottom: 3%;
    margin-right: 3%;
    width: calc(30% - 0px);
    img {max-width: 100%;}
    &:nth-child(3n) {margin-right: 0;}
    &:nth-child(10), &:nth-child(11), &:nth-child(12) {margin-bottom: 0;}
}

// show-ritual
.show-ritual {
    margin: 0 4.4% 2% 4.9%;
    padding: 0 5% 1.5% 5%;
    background-color: #0f9ace;
}

.show-ritual__title {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    @extend .content-slider-topic__title;
    padding-bottom: 2.5%;
    font-size: em(19);
    color: #252224;
    span {
        color: #fff;
    }
}

.show-ritual-instagram__link {
    display: inline-flex;
    font-size: em(13);
    color: #fff;
    font-weight: bold;
    text-transform: none;
    span {
        white-space: nowrap; 
        padding-bottom: 0.8%;
        align-self: flex-end;
    }
    img {padding-left: 3%;}
}

.show-ritual__text {
    color: #fff;
    font-weight: bold;
    font-size: em(23);
    padding-right: 5%;
    padding-bottom: 0.8%;
}

.show-ritual__span {
    font-size: em(22);
    color: #000; 
    font-weight: bold;
}

// learn-more-about
.learn-more-about {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 4.4% 0 4.9%;
    padding: 1.5% 5% 1.5% 5%;
    background-color: #58595b;
    font-size: em(22);
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    a {
        color: #0f9ace;
        padding-left: 1%;
        &:hover {
            color: #fff;
        }
    }
    span {
        flex-grow: 1;
    }
}

.learn-more-about-arrow {
    border-style: solid;
    border-width: 0.1em 0.1em 0 0;
    content: '';
    display: inline-flex;
    height: 1em;
    width: 1em;
    transform: rotate(45deg);
    position: relative;
    top: 0;
    vertical-align: top;
    color: #109bcf;
}

// mobile-footer
.mobile-footer {
    padding: 1.5% 5% 1.5% 5%;
    background-color: #58595b;
}

.mobile-social {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.mobile-social-links__item {
    display: inline-flex;
    align-self: center;
}

.tumb-mb, .fb-mb, .tw-mb, .inst-mb, .ytb-mb {
    display: block;
}

.tumb-mb {
    width: 22px;
    height: 35px;
}

.inst-mb, .tw-mb, .fb-mb {
    width: 26px;
    height: 29px;
}

.ytb-mb {
    width: 35px;
    height: 29px;
}

.tumb-mb {background: url("../img/tumb-mb.png") no-repeat;}
.inst-mb {background: url("../img/inst-mb.png") no-repeat;}
.fb-mb {background: url("../img/fb-mb.png") no-repeat;}
.ytb-mb {background: url("../img/ytb-mb.png") no-repeat;}
.tw-mb {background: url("../img/tw-mb.png") no-repeat;}