section.content
    //- pic with description
    .content-mainpic
        img.content-mainpic__img(src="../../static/img/main-img.png", alt="main-img")
        img.content-mainpic__img-mobile(src="../../static/img/mobile-main.jpg", alt="main-mobile")
    //- content-description
    .content-description
        h2.content-description__title 
            | Every athlete has a training routine,
            | it's what we call a ritual
        p.content-description__text
            | It's the way you train. A routine you do everytime you exercise
            | and compete. It's a Ritual you believe in, trust in and live by.
    //- video slider
    include ../modules/slider
    //- ritual-description
    include ../modules/ritual-description
    //- ritual-stat
    .ritual-stat
        .ritual-stat__text
            p 
                | #OdloRitual
                span #ArtOfLayering
        .ritual-stat-numbers
            .ritual-stat-numbers__item 
                p 239
                span posts
            .ritual-stat-numbers__item 
                p 1260
                span followers
            .ritual-stat-numbers__item 
                p 29
                span following
            .ritual-stat-numbers__item
                a(href="")         
    //- ritual-grid
    .ritual-grid
        .ritual-grid-item
            img(src="./../../static/img/grid-img-1.png")
        .ritual-grid-item
            img(src="./../../static/img/grid-img-2.png")
        .ritual-grid-item
            img(src="./../../static/img/grid-img-3.png")
        .ritual-grid-item
            img(src="./../../static/img/grid-img-2.png")
        .ritual-grid-item
            img(src="./../../static/img/grid-img-4.png")
        .ritual-grid-item
            img(src="./../../static/img/grid-img-2.png")
        .ritual-grid-item
            img(src="./../../static/img/grid-img-1.png")
        .ritual-grid-item
            img(src="./../../static/img/grid-img-2.png")
        .ritual-grid-item
            img(src="./../../static/img/grid-img-3.png")
        .ritual-grid-item
            img(src="./../../static/img/grid-img-1.png")
        .ritual-grid-item
            img(src="./../../static/img/grid-img-3.png")
        .ritual-grid-item
            img(src="./../../static/img/grid-img-1.png")
    //- show-ritual
    .show-ritual
        .show-ritual__title
            h2 Show us ritual 
                span 
                    | & Win?
            .show-ritual-instagram
                a(href="#").show-ritual-instagram__link 
                    span Lauch Instagram now
                    img(src="./../../static/img/inst-icon-bg.png", alt="instagram")
        p.show-ritual__text 
            | An Odlo Ritual Collections of your choice to be won!
        span.show-ritual__span
            | Simply enter and stand a chance to win! 
    //- learn-more-about
    .learn-more-about
        span Learn more about
            a(href="#") the art of layering
        .learn-more-about-arrow
            a(href="#")
    //- mobile-footer
    .mobile-footer
        ul.mobile-social
            li.mobile-social-links__item
                a(href="#").tumb-mb
            li.mobile-social-links__item
                a(href="#").inst-mb
            li.mobile-social-links__item
                a(href="#").tw-mb
            li.mobile-social-links__item
                a(href="#").fb-mb
            li.mobile-social-links__item
                a(href="#").ytb-mb   