section.content
    //- pic with description
    .content-mainpic
        img.content-mainpic__img(src="../../static/img/main-img.png", alt="main-img")
    .content-description
        h2.content-description__title 
            | Every athlete has a training routine,
            | it's what we call a ritual
        p.content-description__text
            | It's the way you train. A routine you do everytime you exercise
            | and compete. It's a Ritual you believe in, trust in and live by.
    //- video slider
    .content-slider
        h2.content-description__title 
            | Odlo ritual videos
        p.content-description__text
            | Odlo ritual | Riders In The Storm