section.content
    //- pic with description
    .content-mainpic
        img.content-mainpic__img(src="../../static/img/main-img.png", alt="main-img")
    .content-description
        h2.content-description__title 
            | Every athlete has a training routine,
            | it's what we call a ritual
        p.content-description__text
            | It's the way you train. A routine you do everytime you exercise
            | and compete. It's a Ritual you believe in, trust in and live by.
    //- video slider
    .content-slider-wrapper
        .content-slider-topic
            h2.content-slider-topic__title 
                | Odlo ritual videos
            p.content-slider-topic__text
                | Odlo ritual | Riders In The Storm
        .content-slider
            img.content-slider__img(src='./../../static/img/slider-big.png')
            img.content-slider__img(src='./../../static/img/slider-big.png')
            img.content-slider__img(src='./../../static/img/slider-big.png')
            .content-slider-inner
                .content-slider-inner__item
                    p Ingalena Heucks Ritual
                    img(src='./../../static/img/slider-small.png')
                .content-slider-inner__item
                    p Sven Huecks Ritual
                    img(src='./../../static/img/slider-small.png')
                .content-slider-inner__item
                    p Jon Ohlsson's Ritual
                    img(src='./../../static/img/slider-small.png')
    