section.content
    //- pic with description
    .content-mainpic
        img.content-mainpic__img(src="../../static/img/main-img.png", alt="main-img")
    .content-description
        h2.content-description__title 
            | Every athlete has a training routine,
            | it's what we call a ritual
        p.content-description__text
            | It's the way you train. A routine you do everytime you exercise
            | and compete. It's a Ritual you believe in, trust in and live by.
    //- video slider
    .content-slider-wrapper
        .content-slider-topic
            h2.content-slider-topic__title 
                | Odlo ritual videos
            p.content-slider-topic__text
                | Odlo ritual | Riders In The Storm
        .content-slider
            img.content-slider__img(src='./../../static/img/slider-big.png')
            img.content-slider__img(src='./../../static/img/slider-big.png')
            img.content-slider__img(src='./../../static/img/slider-big.png')
            .content-slider-inner
                .content-slider-inner__item
                    p Ingalena Heucks Ritual
                    img(src='./../../static/img/slider-small.png')
                .content-slider-inner__item
                    p Sven Huecks Ritual
                    img(src='./../../static/img/slider-small.png')
                .content-slider-inner__item
                    p Jon Ohlsson's Ritual
                    img(src='./../../static/img/slider-small.png')
    //- ritual-description
    .ritual-description
        .ritual-description__title
            h2 Whats your ritual?
            .ritual-instagram
                a(href="#").ritual-instagram__link 
                    span Join in with
                    img(src="./../../static/img/join-inst.png", alt="instagram")
        p.ritual-description__text 
            | Upload a photo on Instagram of yorself during your training Ritual 
            | & stand a chance to win every week. The best photo will be rewarded with a
            | Odlo Ritual Collection of their choice!
        span.ritual-description__learn-more
            | Learn more on 
            a(href="#") how to enter
        .terms-and-conditions
            a(href="#")
                | Read the full Terms and Conditions
    //- ritual-stat
    .ritual-stat
        .ritual-stat__text
            p 
                | #OdloRitual
                span #ArtOfLayering
        .ritual-stat-numbers
            .ritual-stat-numbers__item 
                p 239
                span posts
            .ritual-stat-numbers__item 
                p 1260
                span followers
            .ritual-stat-numbers__item 
                p 29
                span following
            .ritual-stat-numbers__item
                a(href="")         
    //- ritual-grid
    .ritual-grid
        .ritual-grid-item
            img(src="./../../static/img/grid-img-1.png")
        .ritual-grid-item
            img(src="./../../static/img/grid-img-2.png")
        .ritual-grid-item
            img(src="./../../static/img/grid-img-3.png")
        .ritual-grid-item
            img(src="./../../static/img/grid-img-2.png")
        .ritual-grid-item
            img(src="./../../static/img/grid-img-4.png")
        .ritual-grid-item
            img(src="./../../static/img/grid-img-2.png")
        .ritual-grid-item
            img(src="./../../static/img/grid-img-1.png")
        .ritual-grid-item
            img(src="./../../static/img/grid-img-2.png")
        .ritual-grid-item
            img(src="./../../static/img/grid-img-3.png")
        .ritual-grid-item
            img(src="./../../static/img/grid-img-1.png")
        .ritual-grid-item
            img(src="./../../static/img/grid-img-3.png")
        .ritual-grid-item
            img(src="./../../static/img/grid-img-1.png")
    //- show-ritual
    .show-ritual
        .show-ritual__title
            h2 Show us ritual 
                span 
                    | & Win?
            .show-ritual-instagram
                a(href="#").show-ritual-instagram__link 
                    span Lauch Instagram now
                    img(src="./../../static/img/inst-icon-bg.png", alt="instagram")
        p.show-ritual__text 
            | An Odlo Ritual Collections of your choice to be won!
        span.show-ritual__span
            | Simply enter and stand a chance to win! 
    //- learn-more-about
    .learn-more-about
        span Learn more about
            a(href="#") the art of layering       