footer.footer
    .footer-links
        .footer-links__item
            a(href="#") 
                span Teilnahmebedingen
        .footer-links__item
            a(href="#") 
                span Odlo.com
        .footer-links__item
            a(href="#") 
                span Datenschutz
    .footer-social-links
        .footer-social-links__item
            a(href="#").tumb
        .footer-social-links__item
            a(href="#").inst
        .footer-social-links__item
             a(href="#").fb
        .footer-social-links__item
            a(href="#").ytb
        .footer-social-links__item
            a(href="#").tw