footer.footer
    ul.footer-links
        li.footer-links__item
            a(href="#").footer-links__item-link Teilnahmebedingen
        li.footer-links__item
            a(href="#").footer-links__item-link Odlo.com
        li.footer-links__item
            a(href="#").footer-links__item-link Datenschutz
    ul.footer-social-links
        li.footer-social-links__item
            a(href="#").tumb
        li.footer-social-links__item
            a(href="#").inst
        li.footer-social-links__item
             a(href="#").fb
        li.footer-social-links__item
            a(href="#").ytb
        li.footer-social-links__item
            a(href="#").tw