//- mobile-footer
.mobile-footer
    ul.mobile-social
        li.mobile-social-links__item
            a(href="#").tumb-mb
        li.mobile-social-links__item
            a(href="#").inst-mb
        li.mobile-social-links__item
            a(href="#").tw-mb
        li.mobile-social-links__item
            a(href="#").fb-mb
        li.mobile-social-links__item
            a(href="#").ytb-mb   