//- video slider
.content-slider-wrapper
	.content-slider-topic
		h2.content-slider-topic__title 
			| Odlo ritual videos
		p.content-slider-topic__text
			| Odlo ritual | Riders In The Storm
	.content-slider
		.content-slider__img
			iframe(width='100%' height='324' src='https://www.youtube.com/embed/0J82QOHX8lQ' frameborder='0' allow='autoplay; encrypted-media' allowfullscreen='')
		.content-slider__img
			iframe(width="100%" height="324" src="https://www.youtube.com/embed/top0MlcKSw4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen='')
		.content-slider__img
			iframe(width="100%" height="324" src="https://www.youtube.com/embed/OQAifaOEmVo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen='')
		.content-slider__img
			iframe(width="100%" height="324" src="https://www.youtube.com/embed/MXnaUkmLXok" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen='')
	.content-slider-inner
		.content-slider-inner__item
			p Ingalena Heucks Ritual
			img(src="https://img.youtube.com/vi/0J82QOHX8lQ/hqdefault.jpg")
		.content-slider-inner__item
			p Sven Huecks Ritual
			img(src="https://img.youtube.com/vi/top0MlcKSw4/hqdefault.jpg")
		.content-slider-inner__item
			p Jon Ohlsson's Ritual
			img(src="https://img.youtube.com/vi/OQAifaOEmVo/hqdefault.jpg")
		.content-slider-inner__item
			p Jon Ohlsson's Ritual
			img(src="https://img.youtube.com/vi/MXnaUkmLXok/hqdefault.jpg")