//- video slider
.content-slider-wrapper
	.content-slider-topic
		h2.content-slider-topic__title 
			| Odlo ritual videos
		p.content-slider-topic__text
			| Odlo ritual | Riders In The Storm
	.content-slider
		.content-slider__img
			iframe(width='100%', height='324', src='https://www.youtube.com/embed/XZ8_CgQuiH0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
		.content-slider__img
			iframe(width="100%" height="324" src="https://www.youtube.com/embed/XpPC4QBCfo4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen='')
		.content-slider__img
			iframe(width="100%" height="324" src="https://www.youtube.com/embed/-gd73iczlS8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen='')
		.content-slider-inner
			.arrowLeft
			.content-slider-inner__item
				p Ingalena Heucks Ritual
				iframe(width="100%" height="324" src="https://www.youtube.com/embed/-gd73iczlS8" frameborder="0" allowfullscreen='')
			.content-slider-inner__item
				p Sven Huecks Ritual
				iframe(width="100%" height="324" src="https://www.youtube.com/embed/XpPC4QBCfo4" frameborder="0" allowfullscreen='')
			.content-slider-inner__item
				p Jon Ohlsson's Ritual
				iframe(width='100%', height='324', src='https://www.youtube.com/embed/XZ8_CgQuiH0', frameborder='0' allowfullscreen='')
			.arrowRight