// video slider
.content-slider {position: relative;}

.content-slider-topic {padding: 0 4.4% 0 4.9%;}

.content-slider-topic__title {
    text-transform: uppercase;
    font-size: em(28);
    letter-spacing: -0.01em;
    padding: 2.8% 0 1.7% 0;
    color: #0f9acc;
}

.content-slider-topic__text {
    color: #fff;
    font-size: em(17);
    padding-bottom: .6%;
}

.content-slider__img {
    max-width: 100%;
    padding: 0 1.7% 0 1.7%;
}

.content-slider-inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 5% 2.5% 5%;
}

.content-slider-inner__item {
    width: 32%;
    cursor: pointer;
    outline: none;
    p {
        @extend .content-slider-topic__text;
        padding: 8.8% 0 4.4% 0;
    }
    img {
        width: 100%;
        padding-right: 10%;
    }
}

.slick-next.slick-arrow, .slick-prev.slick-arrow {
    top: 150%;
    z-index: 1001;
}

.slick-prev.slick-arrow {
    left: 1%;
}

.slick-next.slick-arrow {
    right: 3%;
}

.slick-prev.slick-arrow::before, .slick-next.slick-arrow::before {
    color: #0F98C7;
    border-style: solid;
	border-width: 0.15em 0.15em 0 0;
	content: '';
	display: inline-block;
    height: 1.2em;
    width: 1.2em;
}

.slick-prev.slick-arrow::before {
    transform: rotate(-135deg);
}

.slick-next.slick-arrow::before {
    transform: rotate(45deg);
}
