// ritual-description
.ritual-description {padding: 0 4.4% 0 4.9%;}

.ritual-description__title {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #0f9acc;
    padding: 2.8% 0 1.5% 0;
    font-size: em(19);
}

.ritual-instagram__link {
    display: inline-flex;
    font-size: em(13);
    color: #fff;
    text-transform: none;
    span {
        white-space: nowrap; 
        padding-top: 3%;
        align-self: center;
    } 
    img {padding-left: 3%;}
}

.ritual-description__text {
    color: #fff;
    font-weight: bold;
    font-size: em(21);
    padding-right: 5%;
    padding-bottom: 1.8%;
}

.ritual-description__learn-more {
    letter-spacing: 0.03em;
    color: #fff;
    font-size: em(22);
    text-transform: uppercase;
    a {color: #1398ce;}
}

.ritual-description__learn-more a::after {
    border-style: solid;
	border-width: 0.1em 0.1em 0 0;
	content: '';
	display: inline-block;
    height: .72em;
    width: .72em;
    left: 0;
	transform: rotate(45deg);
	position: relative;
	top: 0.3em;
	vertical-align: top;
    color: #fff;
}

.terms-and-conditions {
    display: flex;
    justify-content: space-between;
    width: 58%;
    color: #fff;
    padding: 1% 0;
    font-size: em(18);
    margin: 1.5% 0 5% 0;
    white-space: nowrap;
    a {
        color: #fff;
        padding-left: 4%;
    }
    .closeLink {
        display: none;
    }
}

.terms-and-conditions a:first-child::before {
    border-style: solid;
	border-width: 0.1em 0.1em 0 0;
	content: '';
	display: inline-block;
    height: .9em;
    width: .9em;
    left: -1em;
	transform: rotate(135deg);
	position: relative;
	top: 0;
	vertical-align: top;
    color: #fff;
}

.closeLink {
    width: 28px; 
    height: 26px;
    background: url('../img/css_sprites.png') -148px -146px;
    display: inline-flex;
    vertical-align: middle;
    position: sticky;
}

.terms-and-conditions-text {
    opacity: 0;
    height: 132vh;
    position: absolute;
    overflow: auto;
    z-index: 10;
    background: rgba(0, 7, 10, 0.95);
    color: #fff;
    font-size: em(11);
    width: 52.61%;
    padding: 3%;
    p {
        padding-bottom: 5%;
        &:last-child {
            padding-bottom: 0;
        }
    }
    &::-webkit-scrollbar-track { 
        background-color:#00070a; 
        
    } 
        
    &::-webkit-scrollbar-thumb {  
        background-color:#fff; 
    } 
        
    &::-webkit-scrollbar{ 
        width: 1.3em; 
    }
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s ease-in;
}