// mobile-footer
.mobile-footer {
    padding: 1.5% 5% 1.5% 5%;
    background-color: #58595b;
}

.mobile-social {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.mobile-social-links__item {
    display: inline-flex;
    align-self: center;
}

.tumb-mb, .fb-mb, .tw-mb, .inst-mb, .ytb-mb {
    display: block;
    background: url("../img/css_sprites.png");
}

.tumb-mb {
    width: 22px;
    height: 35px;
}

.inst-mb, .tw-mb, .fb-mb {
    width: 26px;
    height: 29px;
}

.ytb-mb {
    width: 35px;
    height: 29px;
}

.tumb-mb {background-position: -152px -58px;}
.inst-mb {background-position: -10px -146px;}
.fb-mb {background-position: -56px -146px;}
.ytb-mb {background-position: -65px -91px;}
.tw-mb {background-position: -102px -146px;}